<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>


	<display-name>snowflake-webapp-system</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>


	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>


	<servlet>
		<servlet-name>rest-example</servlet-name>
		<servlet-class>com.boluozhai.snowflake.webapp.system.servlet.RestExampleServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>rest-example</servlet-name>
		<url-pattern>/REST/Example/*</url-pattern>
	</servlet-mapping>


</web-app>
