<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>snowflake-webapp-system-installer</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>


	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>


	<servlet>
		<servlet-name>SpringMVCServlet</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>DoUpdate</servlet-name>
		<display-name>DoUpdate</display-name>
		<description></description>
		<servlet-class>com.boluozhai.snow.webapp.update_system.servlet.DoUpdate</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DoUpdate</servlet-name>
		<url-pattern>/DoUpdate</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SpringMVCServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

</web-app>
