<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>


	<display-name>snowflake-h2o-war</display-name>


	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>


	<!-- listener -->

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>


	<!-- filter -->

	<filter>
		<filter-name>rest-handler-filter</filter-name>
		<filter-class>com.boluozhai.snowflake.rest.server.RestAdapterFilter</filter-class>
		<display-name>RestHandlerFilter</display-name>
		<description></description>
		<init-param>
			<param-name>handler</param-name>
			<param-value>rest:filter:root</param-value>
		</init-param>
	</filter>


	<!-- servlet -->

	<servlet>
		<servlet-name>file-upload-servlet</servlet-name>
		<servlet-class>com.boluozhai.snowflake.h2o.servlet.FileUploadServlet</servlet-class>
	</servlet>


	<!-- mapping -->

	<filter-mapping>
		<filter-name>rest-handler-filter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>file-upload-servlet</servlet-name>
		<url-pattern>/file-upload.do</url-pattern>
	</servlet-mapping>

</web-app>
