<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>


	<display-name>snowflake-h2o-war</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>


	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>


	<!-- servlet -->

	<servlet>
		<servlet-name>rest-servlet</servlet-name>
		<servlet-class>com.boluozhai.snowflake.h2o.servlet.H2ORestServlet</servlet-class>
		<init-param>
			<param-name>handler</param-name>
			<param-value>rest:gateway:rest</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>repo-servlet</servlet-name>
		<servlet-class>com.boluozhai.snowflake.xgit.http.server.servlet.DefaultGitHttpServlet</servlet-class>
		<init-param>
			<param-name>handler</param-name>
			<param-value>rest:gateway:repo</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>auth-js</servlet-name>
		<servlet-class>com.boluozhai.snowflake.h2o.servlet.AuthServlet</servlet-class>
	</servlet>


	<!-- mapping -->

	<servlet-mapping>
		<servlet-name>rest-servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>repo-servlet</servlet-name>
		<url-pattern>/repo/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<!-- 4 debug -->
		<servlet-name>auth-js</servlet-name>
		<url-pattern>/servlet/auth.js</url-pattern>
	</servlet-mapping>


</web-app>
